<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="steps.css">
    <meta charset="UTF-8">
    <title>Steps</title>
</head>
<body>
    <p th:text="|Max: x = ${max.x}, y = ${max.y}|"></p>
    <p th:text="|Min:x = ${min.x}, y = ${min.y}|"></p>
    <p th:text="|Average: ${average}|"></p>
    <p th:text="|Size: ${list.size()}|"></p>

<table class="fl-table">
    <tr th:each="p : ${list}">
        <td th:text="${p.x}"></td>
        <td th:text="${p.y}"></td>
    </tr>
</table>
</body>
</html>